*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    background-color: orange;
    width: 100%;
    z-index: 1;
}
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 75%;
    min-height: 80px;
}
.container{
    max-width: 1200px;
}
.container-header > *{
    flex-basis: 20%;
    padding: 10px 0;
}
.icon{
    padding-left: 185px
}
li{
    display: inline;
    font-weight: 800;
    color: white;
}
.img-logo{
    flex-grow: 1;
    text-align: center;
}
#logo{
    width: 200px;
}
.container-main{
    padding-bottom: 30px;
}
img{
    max-width: 100%;
    display: block;
}
.img-hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.row{
    display: flex;
    gap: 10px;
    padding-bottom: 30px
}
.col{
    flex-basis: calc(100% / 3);
}
.card{
    position: relative;
}
.discount{
    position: absolute;
    bottom: 100px;
    background-color: red;
    padding: 5px;
    color: white;
}
.text{
    position: absolute;
    bottom: 100px;
    left: 50px;
    background-color: green;
    padding: 5px;
    color: white;
}
.black{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 7px;
    right: 0;
}
.discount-price{
    display: inline-block;
    color: red;
}
.original-price{
    display: inline-block;
    text-decoration: line-through;
}
.card:hover .img-hover{
    display: inline-block;
}
.black:hover .heart{
    display: inline-block;
    color: red;
}
.text-single{
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: green;
    padding: 5px;
    color: white;
}
.container-footer{
    width: 100%;
    min-height: 100px;
    background-color: black;
    color: white;
    padding-top: 20px;
}
.main-footer{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-footer{
    margin-right: 450px;
}
.text-footer > div{
    font-weight: 800;
}
.asd{
    font-weight: normal;
}
.social > div{
    font-weight: 800;
}
